* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    background: #F8F1F1;
    color: #11698E;
}

#header {
    width: 100%;
    height: 100%;
    background: #11698E;
    color: #F8F1F1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: medium;
    color: #F8F1F1;
}

.logo {
    width: 10vw;
}

.info-container {
    background-color: grey;
    color: black;
    padding: 10px 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.info-container ul li {
    list-style: none;
    padding: 3px;

}

.photo {
    width: 50vw;
}

.about-me {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.bullet-area {
    position: relative;
}

.bullet-area ul {
    padding: 10px;
    margin: 0px;
    list-style: none;
    font-family: Helvetica, sans-serif;
}

.bullet-area ul li {
    position: relative;
    padding-left: 44px;
    margin-bottom: 36px;
}

.project-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 45px;
    margin: 30px;
}

.contact-form {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #CC4949;
}

/*-------------css for small screens---------------*/

@media only screen and (max-width: 600px) {
    #header {
        background-color: blueviolet;
    }
}